<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISpicAuthorizationSoapService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://178.63.30.148:8081/spic/auth/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicAuthorizationSoapService" contract="Auth.ISpicAuthorizationSoapService" name="BasicHttpBinding_ISpicAuthorizationSoapService"/>
        </client>
    </system.serviceModel>
</configuration>
