<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISpicAuthorizationSoapService" />
                <binding name="BasicHttpBinding_ISpicSoapMotorModesStatisticsService" />
                <binding name="BasicHttpBinding_ISpicSoapFuelFlowStatisticsService" />
                <binding name="BasicHttpBinding_ISpicSoapFuelingDefuelingStatisticsService" />
                <binding name="BasicHttpBinding_ISpicSoapUnitsService" />
                <binding name="BasicHttpBinding_ISpicSoapStatisticsControllerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://178.63.30.148:8081/spic/auth/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicAuthorizationSoapService"
                contract="Auth.ISpicAuthorizationSoapService" name="BasicHttpBinding_ISpicAuthorizationSoapService" />
            <endpoint address="http://178.63.30.148:8081/spic/MotorModes/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapMotorModesStatisticsService"
                contract="MotorModes.ISpicSoapMotorModesStatisticsService"
                name="BasicHttpBinding_ISpicSoapMotorModesStatisticsService" />
            <endpoint address="http://178.63.30.148:8081/spic/FuelFlow/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapFuelFlowStatisticsService"
                contract="FuelFlow.ISpicSoapFuelFlowStatisticsService" name="BasicHttpBinding_ISpicSoapFuelFlowStatisticsService" />
            <endpoint address="http://178.63.30.148:8081/spic/fdstat/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapFuelingDefuelingStatisticsService"
                contract="FuelingDefueling.ISpicSoapFuelingDefuelingStatisticsService"
                name="BasicHttpBinding_ISpicSoapFuelingDefuelingStatisticsService" />
            <endpoint address="http://178.63.30.148:8081/spic/units/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapUnitsService"
                contract="MonitoringObject.ISpicSoapUnitsService" name="BasicHttpBinding_ISpicSoapUnitsService" />
            <endpoint address="http://178.63.30.148:8081/spic/StatisticsController/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpicSoapStatisticsControllerService"
                contract="StatisticController.ISpicSoapStatisticsControllerService"
                name="BasicHttpBinding_ISpicSoapStatisticsControllerService" />
        </client>
    </system.serviceModel>
</configuration>